button{
  width:20%;
}
#one{
  display:flex;
  justify-content:space-around;
  margin-top:20px;
}
#two{
  display:flex;
  justify-content:space-around;
}
#three{
  display:flex;
  justify-content:space-around;
}
#four{
  display:flex;
  justify-content:space-around;
}

#five{
  display:flex;
  justify-content:space-around;
}
 
button{
  border:none;
  padding:15px;
  margin:3px;
  font-size:20px;
  background-color:white;
}
.or{
  color:blue;
}
input{
  margin-top:50px
}
#screen{
  padding:15px;
  height:100px;
  border:none;
  outline:none;
  width:100%;
  text-align:right;
  font-size:45px
}
